<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%load cust_filters%}
{% for r in data_list %}
<ul>
    <li>{{r.name|add:"pvt Ltd"}}</li>
    <li>{{r.subject|truncate5}}</li>
    <li>{{r.dept|title}}</li>
    <li>{{r.date|timesince}}</li>
</ul><hr>
{%endfor%}
</body>
</html>