.content{
width:60%;
float:left;
padding: 0 0 0 30px;4
background:red;
height:100%

}
.sidebar{
width:40%;
float:right;
padding 10px;
background:green;
height:100%
}

h1{
text-align:center;
color:red;
border-bottom:1px solid yellow;
}