
<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{%static 'css/blog1.css' %}">
    <meta charset="UTF-8">
    <title>{%block title_block%}{%endblock%}</title>
</head>
<body>
<div class="content">
    <h1>Information</h1>
    {%block content%}{%endblock%}
</div>
<div class="sidebar">
    <h2>Durga blog</h2>
    <p> here you can see the python updations</p>
</div>
</body>
</html>