{%extends 'blog_app/base.html' %}
{%block title_block%}SANTHU BLOCG HOME PAGE{%endblock%}

    {%block content%}
<h1> SANTHU'S BLOG</h1>
    {%for post in post_list%}
<h2>{{post.title}}</h2>
    Published on {{post}}

    {%endfor%}
    {%endblock%}
