
<div *ngIf="OneWayCar">
<div class="flex-column w-100 pl3 pr3 customSearchResultsDiv">
    <div class="flex w-100">
      <ngb-carousel style="width: 550px;margin-left: 4%;">
        <ng-template ngbSlide>
          <img src="../../../../assets/images/car.png" [alt]="slide.main_image">
          <div class="carousel-caption"></div>
        </ng-template>
      </ngb-carousel>
      <mat-card style="margin-left: 3%;width: 550px;background-color: #f6f4f2;">
        <div style="font-size: 24px;text-align: center;padding-top: 2px;color: #000000">{{OneWayCardetails.vehicle}}</div>
        <div style="font-size: 14px;text-align: center;color: #ef4b5a">{{OneWayCardetails.VehicleCategory}}</div>
        <div class="flex justify-between mr4 ml4 mt4">
          <div style="padding-left: 15%; color: #000000">PER KM</div>
          <div style="padding-right: 20%; color: #000000">₹ {{OneWayCardetails.OnewayPerKmRate}} </div>
        </div>
        <!-- <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 16%; color: #000000">Milage</div>
            <div style="padding-right: 10%; color: #000000">11kms per lter</div>
          </div> -->
        <div>
            <div style="font-size: 15px;text-align: center;padding-top: 22px;color: #000000">Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada.</div>

        </div>
        <div class="flex justify-around mt4">
          <button class="flight_select_button pointer" mat-button>CONTINUE</button>
        </div>
      </mat-card>
    </div>



    <mat-card style="margin-left: 4%;margin-top: 4%; width: 450px;background-color: #f6f4f2; margin-right: 2%;">
        <div style="font-size: 17px;text-align: center;padding-top: 22px;color: #000000; padding-right: 4%;">CAR DETAILS</div>
        <div class="flex justify-between mr4 ml4 mt4">
          <div style="padding-left: 0%; color: #000000;font-size: 12px;">RENTAL COMPANY:</div>
          <div style="padding-right: 15%; color: #000000;font-size: 12px;">EZ RENT A CAR</div>
        </div>
 
        <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">CAR TYPE:</div>
            <div style="padding-right: 20%; color: #000000;font-size: 12px;">ECONOMY</div>
          </div>
          <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">CAR NAME:</div>
            <div style="padding-right: 15%; color: #000000;font-size: 12px;">TOYOTA AURIS</div>
          </div>
          <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">SEATING CAPACITY</div>
            <div style="padding-right: 30%; color: #000000;font-size: 12px;">{{OneWayCardetails.seatingCapacity}}</div>
          </div>
          <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">BAGGAGE:</div>
            <div style="padding-right: 30%; color: #000000;font-size: 12px;">2</div>
          </div>
          <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">CAR FEATURES:</div>
            <div style="padding-right: 20%; color: #000000;font-size: 12px;">AVAILABLE</div>
          </div>

          <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">TAXES & FEES:</div>
            <div style="padding-right: 15%; color: #000000;font-size: 12px;"></div>
          </div>
          <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">TOTAL PRICE:</div>
            <div style="padding-right: 15%; color: #000000;font-size: 12px;"></div>
          </div>
       
      </mat-card>

      <mat-card style="margin-left: 50%;margin-top: -27%; width: 450px;background-color: #f6f4f2; margin-right: 2%;">
        <div style="font-size: 17px;text-align: center;padding-top: 15px; padding-bottom: 5%; color: #000000; padding-right: 4%;">Pick-up location details</div>
       
 
        <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">PICKUP TIME
            </div>
            <div style="padding-right: 15%; color: #000000;font-size: 12px;">THU, NOV 14, 2013 | 11:00 AM
            </div>
          </div>
        
        
          <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">LOCATION</div>
            <div style="padding-right: 15%; color: #000000;font-size: 12px;">LONDON CITY, AIRPORT</div>
          </div>
       
      </mat-card>

      <mat-card style="margin-left: 50%;margin-top: 2%; width: 450px;background-color: #f6f4f2; margin-right: 2%;">
        <div style="font-size: 17px;text-align: center;padding-top: 15px; padding-bottom: 5%; color: #000000; padding-right: 4%;">Drop-off location details
        </div>
       
 
        <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">DROP OFF TIME

            </div>
            <div style="padding-right: 15%; color: #000000;font-size: 12px;">FRI, NOV 15, 2013 | 11:00 AM</div>
          </div>
        
        
          <div class="flex justify-between mr4 ml4 mt4">
            <div style="padding-left: 0%; color: #000000;font-size: 12px;">LOCATION</div>
            <div style="padding-right: 15%; color: #000000;font-size: 12px;">PARIS ORLY AIRPORT (ORY)
            </div>
          </div>
       
      </mat-card>

    
      <mat-card style="margin: 1% 7.5% 1% 4%;background-color: #f6f4f2;">
        <div style="font-size: 22px;color: #000000">Car Rental Information     :</div>
        <hr class="divider">
        <div style="color: #2b2525; font-size: 14px">Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.</div>
      </mat-card>
    
  </div>
  
</div>