<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static  'css/temp_inherit.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: yellow; ">
  <a class="navbar-brand" href="/">Santhu News</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
        <li><a class="nav-link" href="/movies">Movies</a></li>
        <li><a class="nav-link" href="/sports">Sports</a> </li>
        <li><a class="nav-link" href="#">Politics</a> </li>

    </ul>
  </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Right1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Right2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Right3</a>
            </li>
        </ul>
    </div>
</nav>

{% block body_block %}
{% endblock %}
</body>
</html>