<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django_form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" align="center" >
    <form method="post">
        {{form12.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn-btn-primary" value="click me to submit">
    </form>

</div>
</body>
</html>